.App {
  text-align: center;
}

/* TodoList.css */
.table-container {
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th,
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #007BFF;
  color: white;
}

/* tr:hover {
  background-color: #f5f5f5;
} */

.table-button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.table-button:hover {
  background-color: #0056b3;
}

.completed {
  text-decoration: line-through;
  background-color: gray;
}

.completed :hover {
  color: white;
}

.popup-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.popup-content {
  background: #002c6d;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 15px 35px #0056b3;
}

.popup-content .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup-content .content h2 {
  font-size: 2em;
  color: #81acdb;
  text-transform: uppercase;
}

.popup-content .content .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.popup-content .content .form .inputBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.popup-content .content .form .inputBox input {
  position: relative;
  width: 100%;
  background: #81ACDB;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #002c6d;
  font-weight: 500;
  font-size: 1em;
}

.popup-content .content .form .inputBox i {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #002c6d;
  transition: 0.5s;
  pointer-events: none;
}

.popup-content .content .form .inputBox input:focus~i,
.popup-content .content .form .inputBox input:valid~i {
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #002c6d;
}

.popup-content .content .form .links {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.popup-content .content .form .links a {
  color: #fff;
  text-decoration: none;
}

.popup-content .content .form .links a:nth-child(2) {
  color: white;
  font-weight: 600;
}

.popup-content .content .form .inputBox input[type="submit"] {
  padding: 10px;
  border: 5px #333333 solid;
  background: #222222;
  color: white;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}

input[type="submit"]:active {
  opacity: 0.6;
}


/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.actions-button{
  display: flex;
  justify-content: space-evenly;
}

/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #81acdb;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

#disable-button{
  background-color: #333333;
  cursor: not-allowed;
}

.head{
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to right ,#553c9a, #ee4b2b, #00c2cb, #ff7f50, #553c9a);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 50%;
  background-position: -50%; 
  animation: animated-gradient 2s infinite alternate-reverse;


  /* font-size: 70px;
  font-weight: 600;
  color: #007BFF;
  text-shadow: 0px 0px 5px #93c7ff, 0px 0px 10px #93c7ff, 0px 0px 10px #93c7ff,
  0px 0px 20px #93c7ff; */
}
@keyframes animated-gradient{
  to{
    background-position: 200%;
  }
}

@media screen and (max-width: 768px) {
  .table-container {
    margin: 10px;
  }

  table {
    padding: 5px;
  }

  th,
  td {
    padding: 5px;
  }
}

@media screen and (max-width: 480px) {
  /* Adjust styles for smaller screens */
  .table-container {
    margin: 5px;
  }

  table {
    padding: 2px;
  }

  th,
  td {
    padding: 2px;
  }
}

.counter{
  background-image: linear-gradient(to right ,#553c9a, #ee4b2b, #00c2cb, #ff7f50, #553c9a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
    background-size: 30%;
  background-position: -30%; 
  font-size: 10px;
}